body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
    padding: 5px;
    margin: 10px 30%;
    margin-bottom: 30px;    
}

.container{
    display: flex;  
    flex-direction: column;
    flex: 1;
    border: 1px solid;
    justify-content: center;
}

/*first container*/
.header-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
}

.logo{
    margin-top: -10px;
}

ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
}

.red-social li :hover{
    color: #ffffff;
    background-color: #646eff;
}

.header-text {
    display: flex;
    padding: 5% 5%;
    flex-wrap: wrap;
    gap: 10px;
}

.h1{
    margin-top: 0;
}

.text {
    flex: 1;
}

.place-holder-text {
    font-size: 10px;
    margin-top: 0;
    flex: 1;
}

.button_header{
    border-radius: 10%;
    border: 0;
}


.button_header:hover{
    background-color: #ff0000; 
    color: white;
    border-radius: 10%;
    border: 0;
}


.place-holder {
    display: flex;
    justify-content: center;
}

.place-holder-img {
    max-width: 250px;
    align-self: center;
    border-radius: 2%;
}


/*first container*/
/*second container*/

.middle1-header{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.middle1-text-image{
    display: flex;
    justify-content: center;   
    margin: 5% 5%;
    gap: 10px;   
    font-size: 10px;
    text-align: center;
    flex-wrap: wrap;
    
}

.midle-square {
    display: flex;
    flex-direction: column;
    max-width: 140px;
}


.middle1-image {
    width: 0;
    min-height: 20px;
    min-width: 100%;
    border-radius: 5%; 
}

.thumbnail:hover {
    color: rgb(87, 87, 87);
} 

.middle1-text {

}

/*second container*/
/*third container*/


.middle2-text-container{
    display: flex;
    background-color: blue;  
    justify-content: center; 
    
}

.middle2-text {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 50%;
    align-self: center;
    gap: 10px;
}

.shane {
    background-color: #646eff;
    align-self: flex-end;
}


/*third container*/
/* fourth container */

.middle3-container{
    background-color: rgb(157, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}


.middle3-square{
    display: flex;
    background-color: rgb(255, 160, 160);
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.middle3-square-text-h1{
    font-weight: bolder;
    font-size: 18px;;
}

.middle3-square-text-text{

}

.second-channel {
        border-radius: 10%;
        border: 0;
}
    
    
.second-channel:hover {
    background-color: #ff0000; 
    color: white;
    border-radius: 10%;
    border: 0;
}


/* fourth container */
/* footer */
.footer{
    display: flex;
    background-color: rgb(238, 255, 0);
    border: 1px solid;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer-text {
    font-size:small;
}


/* footer */
